* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173, 170, 170);
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cuadro {
  border-radius: 15px;
  width: 400px;
  background-color: rgb(230, 232, 233);
  padding: 30px 0px 10px 0px;
}

.blanquito {
  width: 57px;
  height: 51px;
  border-radius: 103px;
}

.text-container {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.texto-intro {
  color: grey;
  font-weight: 200;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.vertical-container {
  margin-left: 16px;
}

.textos-2 {
  margin-left: 16px;
}

.parte-principal {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.textos {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

.perrito {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.headline {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.shop-now {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  background-color: rgb(182, 181, 181);
  width: 100px;
  height: 35px;
  border-radius: 4px;
  margin-top: 2px;
  cursor: pointer;
}

.zona-gris {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 200px;
  background-color: rgb(209, 208, 208);
  height: 60px;
}

/* Estilos para los iconos de Material Design Icons */
.mdi {
  font-size: 20px;
  color: #333;
}

.zona-reaccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 16px 8px 12px;
  font-weight: 500;
  color: rgb(95, 93, 93);
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.acciones {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: start;
  text-align: center;
}

.reaccion {
  display: flex;
  align-items: center;
  gap: 5px;
}

.linea {
  border-top: 1px solid rgb(173, 173, 173);
  margin: 15px 0;
}

.zona-interactiva {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  margin: 0px 16px 6px 12px;
  font-weight: 500;
  color: rgb(136, 131, 131);
}

.like {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.comment {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.share {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
